modules = ["dotnet-8.0"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Modem Pool Manager"

[[workflows.workflow]]
name = "Modem Pool Manager"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd ModemPoolManager.Console && dotnet run"

[workflows.workflow.metadata]
outputType = "console"
